{% extends 'account/base.html' %} {% block content %}
<div class="container mt-5 text-center">
  <h2>Status da Conta</h2>
  <p class="lead">Olá, <strong>{{ user.first_name }}</strong>.</p>
  <div class="alert alert-info">
    {% if status_message %} {{ status_message }} {% else %} Por favor, aguarde a
    aprovação do seu cadastro. Você receberá um aviso assim que puder acessar o
    sistema. {% endif %}
  </div>
  <a href="{% url 'login' %}" class="btn btn-primary">Voltar para o Login</a>
</div>
{% endblock %}
