# Ambientes Virtuais
venv/
env/
.venv/

# Segredos e Configurações
.env
login_admin.txt

# Banco de dados local (Docker cuida do Postgres, mas o SQLite pode aparecer)
db.sqlite3
*.sqlite3

# Python cache
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/
